

body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.logo {
    margin-top: 10px;
    height: 110px;
    display: block;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
}

h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 175%;
    text-decoration: underline;
    
}

#movie-colOne {
    padding:3px;
}

#rest-colOne {
    padding: 3px;
}



#movie-card {
    text-align: center;
    
}

#restaurant-card {
    text-align: center;
}

.card {
    background-color: black;
    color: honeydew;
    position: relative;
    border-style: none;
    margin-right: 0;
}

.button  {
    font-family: 'Bangers';
    border-radius: 10px;
    background-color: darkslateblue;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
  }