body{
    background: grey;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    height: 100px;
    display: block;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 10px;
}

.logo {
    margin-top: 10px;
    height: 110px;
    display: block;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
}

h1 {
    color: honeydew;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Bangers'; 
}

h2 {
    font-size: 50px;
    color: honeydew;
    text-align: center;
    font-family: 'Bangers';
}
#equal {
    box-sizing: border-box;
}
.card {
    height: auto;
    width: 75%;
    display: block;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
}

.card-section {
    text-align: center;
}

.card-head {
    font-weight: bold;
    font-size: 25px;
}

.button {
    font-family: 'Bangers';
    border-radius: 10px;
}

.btn {
   
    background-color: darkslateblue;
    border-radius: 10px;
}

.save {
    display: block;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslateblue;
}

.redo-button {
    display: block;
    margin-bottom: 50px;
    margin-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 30px;
}

.dropdown-pane {
    background-color: rgb(212, 212, 212);
}
.redo {
    width: 100%;
    background-color: darkslateblue; 
    border: rgb(212, 212, 212);
    border-width: 1px;
    border-style: solid;
    margin-bottom: 1px;
}



